<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品列表</title>
    <include file="Pub:style" />
</head>
<body>
    <include file="Pub:search"/>
    

    <if condition="$Think.get.family eq 58">
        <div class="container">
            <div style="border: 1px solid #cccccc;margin: 0 10px;padding: 5px;">
                <span style="padding-right: 5px;border-right: 1px solid #cccccc;">当前定位城市</span>
                <span id="addr"><#$Think.session.province#>&nbsp;&nbsp;&nbsp;<#$Think.session.city#></span>
            </div>
        </div>
    </if>

    <div class="container" style="margin-bottom:75px;">
        <volist name="list" id="vo">
            <div class="col-xs-6">
                <div class="goodslist" onclick="todetails(<#$vo.id#>)">
                    <!-- <input type="hidden" name="gid" value="<#$vo.id#>" id="gid"> -->
                    <div class="goodsimg">
                        <img src="__PUBLIC__/img/shili1.jpg" style="width:100%">
                    </div>
                    <div class="info">
                        <div class="info_top">
                            <#$vo.g_name#>
                        </div>
                        <div class="info_mid">
                            <#$vo.g_price#>
                        </div>
                        <div class="info_bottom">
                            <img src="__PUBLIC__/img/toxiang.png" alt=""> <#$vo.u_nickname#>
                        </div>
                    </div>
                </div>
            </div>
        </volist>
        <div class="con_footer col-xs-12">
            到底了
        </div>
    </div>
</body>

<script>
    // setInterval(function(){
    //     document.location.reload();
    // },2000);
    // 点击商品跳转到详情页
    function todetails(gid){
        // console.log(gid);
        document.location.href="__MODULE__/Goods/details?gid="+gid;
    }
</script>
</html>