<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分明细</title>
    <include file="Pub:style" />
</head>
<body>
    <volist name="list" id="vo">
        <div class="list">
            <span class="span1" style="font-weight:600">
                <#$vo.s_reason#>
            </span>
            <span style="font-size:13px"><#$vo.s_time#></span>
            <span class="span2" style="color:red">
                <gt name="vo.s_num" value="0">
                    +
                </gt>
                <#$vo.s_num#>
            </span>
        </div>
    </volist>
</body>
</html>