<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员列表</title>
    <include file="Pub:style" />
</head>
<body>
    <include file="Pub:nav" />
    <div class="body">
        <div class="box">
            <div class="rowbox">
                <div class="title">
                    您目前所在的位置 > 管理员信息 > 管理员列表
                </div>
            </div>
            <div class="rowbox">
                <div class="tablebox">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>管理员ID</th>
                                <th>管理员账号</th>
                                <th>管理员昵称</th>
                                <th>联系方式</th>
                                <th>在线状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="vo">
                                <tr>
                                    <td><#$vo.id#></td>
                                    <td><#$vo.a_account#></td>
                                    <td><#$vo.a_nickname#></td>
                                    <td><#$vo.a_phone#></td>
                                    <td><#$vo.a_state#></td>
                                    <td>
                                        <button class="btn btn-primary">删除管理员</button>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                    <div class="page">
                        <#$page#>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>